<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Sekunda Code | Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style>
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2Fwp2757874.gif?v=1601097937332) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/avatars/851504724959952956/42e762fda3084d5c98c7a8c66b7df03a.png?size=1024">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Sekunda Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank"><font color="gold"</font>Discord Sunucumuza</a><font color="white"</font> Katılmanız Gerekmektedir
  </p>
      
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
  <a href="/abone" style="text-decoration:none" class="index-button5"><i class="fas fa-code"></i> Abonelere Özel</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=851504724959952956&scope=bot&permissions=0" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i> Sekunda Botumuz</a>
    <a href="https://www.youtube.com/channel/UCs4a3F1PcRDcfq_vCwFxZcg" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  
      </div>      
    </div>
    </div12>  
  </div><br>
<font color="white" size="5"><b>Kurucular</b></font>
      <div class="container text-center">
<hr color="white">
<br><br>
<br><br>

<div class="row">
<div id="avatar2">
 <a href="https://sekundakod.glitch.me"> <img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/663007559934017537/8c2f6e2237e5de0f80d4e2359805039f.png?size=1024">
		<br>
		<font color="white">ɱႦ Vegas</font>
    
</div>
</div>

        <h class="text-light font-weight-light">
       Sekunda Code 2022 Tüm Hakları Saklıdır. Developer by Vegas
  </h>
  <br>
</main>